@use '../abstracts' as *;

.footer{
	padding: 40px  0 80px 0;


&__title {
	margin-bottom: 3rem;
	position: relative;
	width: fit-content;
	&::after{
		content: '';
		position: absolute;
		bottom: -1rem;
		left: 0;
		width: 40%;
		height: 100%;
		background-color: var(--clr-primary--400);
		height: 4px;
		border-radius: 9999px;
		transform: translateY(50%);
	}

}

&__nav {
display: flex;
flex-direction: column;


gap: 3rem;

@include for-tablet-l-up {
	flex-direction: row;
	justify-content: space-between;
}
}

&__nav-list{

}

&__nav-item{
	list-style-type: none;
}

&__nav-link{

}

}
