@use '../abstracts' as *;

.header {
	height: var(--nav-height);
	display: flex;
	align-items: center;



	&__logo {
		margin-left: calc(var(--grid-margin) * -1);
		height:3rem;
		display: block;
		width: auto;
		@include for-tablet-l-up {
			height: 3rem;
			margin-right: 2rem;

			margin-left: 0;
		}

	}

	&__hamburger-icon {
		margin-left: auto;
		padding: 1rem;
		margin-right: -1rem;
		height: 3.75rem;
		width: auto;
		@include for-tablet-l-up {
			display: none;

		}
	}

	& &__cta {
		margin-left: auto;
		display: none;


			@media (min-width: 1400px){
				display: block;
			}
		}

}

