@use '../abstracts' as *;

.navigation {

	&__list {
		display: none;
		@include for-tablet-l-up {
		display: flex;
		gap: 0.5rem;
	}
	}

	&__item {
		list-style-type: none;
	}

	&__link {
		color: var(--clr-neutral-900);
		padding:  0.75rem 1rem;
		border-radius: 8px;
		font-weight: 500;
		text-decoration: none;
		transition: background 0.3s ease;

		&:hover {
			background: var(--clr-primary--300);
			border-radius: 0.5rem 0.5rem 0 0;
		}

		&:active {
			border-bottom: 4px solid var(--clr-primary--300);
			border-radius: 0.5rem 0.5rem 0 0;
		}

	}
}
