@use '../abstracts' as *;

.picture-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	justify-items: center;

	@include for-tablet-l-up {
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 11.625rem), 1fr));
	}

	@include for-desktop-up {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}


	&__img-wrapper {
		position: relative;
		overflow: hidden;
		aspect-ratio: 11/16;
		border-radius: 0.75rem;
			&:nth-child(5) {
				display: none;
				@include for-desktop-up {
					display: block;
				}
			}


	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}



}

