@use '../abstracts' as *;



.preview-column {
background: var(--clr-neutral--100);
padding: 1.25rem;
border-radius: 1rem;

@include for-tablet-l-up {
	padding: 2.5rem;
}

&__icon {
	margin-right: 0.25rem;
}

&__title {
	margin-bottom: 0.75rem;
}

&__text{
 margin-top: 0.25rem;
}

}
