@use '../abstracts' as *;



.preview-column {
background: var(--clr-neutral--100);
padding: 20px;
border-radius: 12px;

@include for-tablet-l-up {
	padding: 40px;
}

&__title{

}

&__text{
 margin-top: 0.25rem;
}

}
