@use '../abstracts' as *;


section:has(.preview-column-wrapper) {
	padding: 80px 0 ;
	background: var(--clr-primary--400);

	@include for-tablet-l-up {
	gap: 2rem;
	}

}

.preview-column-wrapper {
	display: grid;
	margin-top: 2rem;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 18.75rem), 1fr));

	@include for-desktop-up {
		grid-template-columns: repeat(3, 1fr);
		margin-top: 4rem;
	}
}
