@use '../abstracts' as *;

  section.grid-item:has(.text-only-section) {
	// min-height: auto;
}


.text-only-section {
	padding: 2.5rem 0;
	text-align: center;
	display: grid;
	text-align: left;
	max-width: 65ch;
	margin: auto;

	@include for-tablet-l-up {
		padding: 5rem 0;
	}


	&__title{
		text-align: left;

	}
	&__text{
		text-align: left;

		margin-top: 1rem;
	}

}

