@use '../abstracts' as *;

html {
	background: var(--clr-primary--100);
}

main {
	display: grid;
	> * + * {
		margin-top: 5rem;

		@include for-tablet-l-up {
			margin-top: 0rem;
		}
	}

	section:not(.hero-home, .--no-full-height) {
		@include for-tablet-l-up {
			min-height: calc(100vh - 1.5rem);
			align-items: center;
			> * {
				height: fit-content;
			}
		}
	}
}
