@font-face {
	font-family: 'Inter';
	src:
	  url('../fonts/Inter-VariableFont-slnt-wght.woff2')
	  format('woff2 supports variations'),
	  url('../fonts/Inter-VariableFont-slnt-wght.woff2')
	  format('woff2-variations');
	font-stretch: 25% 150%;
	font-style: oblique 0deg 10deg;
	font-weight: 100 900;
	font-display: swap;
 }

