@use '../abstracts/' as *;

// 400 is the base for the colour
:root {
	//// colors
	// neutrals
	//// 100 is always white
	--clr-neutral--100: #ffffff; // white
	//// 900 is always black
	--clr-neutral--900: #000000; // black

	// brand colors
	--clr-primary--100: #F8FFFD // green light
	--clr-primary--400: #A6FFD7 // green
	--clr-primary--500: #6AFFBC // green dark hover


	// The sedcondary colours are counted by numbers secondary-1 and secondary-2 etc if there different colours the --400, --500 is for shades
	// --clr-secondary-1--400: #0000ff; // blue
	// --clr-secondary-2--400: #00ff00; // green

	// grid
	--grid-main-max: 99.375rem;
	--grid-margin: #{fluid(20px, 80px)};
	--grid-main-width: calc(100% - (var(--grid-margin) * 2));
	--grid-spacing-side: max(var(--grid-margin), (100vw - var(--grid-main-max)) / 2);
}
